 @import "tailwindcss";

 .scroll{
    scrollbar-color: #3f8ee8  white;
 }

.bg-Divices {
    background: url(../public/img/divices.jpg) no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width:991px) {
    .bg-Divices {
        background-attachment: scroll;
    }
}